@import '~rsuite/dist/styles/rsuite-dark.css';
@import 'App.css';

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: rgb(40, 45, 49);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(29, 31, 33);
  border-radius: 10px;
}

/**
 *   MAKE ELECTRON APP FEEL MORE NATIVE
 *
 *   * Prevent dragging all HTML elements, specially:
 *   	- images
 *   	- links (anchors)
 *
 *   * Prevent text selection
 */

body {
  margin: 0;
  padding: 0;
}

.main {
  display: flex;
  background-color: rgba(47, 50, 55, 1);
  width: 100%;
  height: calc(100vh - 36px);
  overflow: hidden;
}

*,
*::after,
*::before {
  -webkit-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -webkit-app-region: no-drag;
  cursor: default;
}

.title-bar {
  -webkit-app-region: drag;
  width: 100%;
  height: 36px;
  background-color: rgb(41, 43, 47);
}

* {
  transition: all 0.15s ease-in-out;
}
